@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title{
    font-family: 'Rubik Wet Paint', cursive;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    margin: 60px;
    
}
.col{
    margin-right: 30px;
    flex-basis: 30%;
}
.card-title{
    font-size: 28px;
    font-weight: 600;
    padding-left: 10px;
}
.card-title>span{
    font-size: 20px;
}

.card-text{
    font-size: 30px;
    font-weight: 700;
    padding: 30px;
}
.title{
    margin-bottom: 40px;
    margin-top: 20px;
    padding: 40px;
}
.live{
    text-align: center;
    color: red;
    font-weight: 500;
}
.sub-title{
    margin-top: 30px;
    text-align: center;
    font-size: 35px;
    color: brown;
}

.green{
    background-color: green;
    color: white;
}
.blue{
    background-color: blue;
    color: white;
}
.yellow{
   background-color: rgb(253, 18, 77);
   color: white;
}
.orange{
    background-color: orange;
    color: white;
}
.light{
    background-color: grey;
    color: white;
}
.card:hover{
    background-color: rgb(158, 55, 226);
    color: white;
}

@media (max-width : 700px) {
    .row{
        flex-wrap: wrap;
        margin: 20px;
    }
    .col{
        flex-basis: 100%;
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 40px;
    }
}